.atl-article-list-item {
  padding: 0.5rem 1rem;
  border-top: 2px solid #DDD;
  transition: all 0.6s;
}

.atl-article-list-item.active {
  background-color:#eee;
}

.atl-article-list-item .title {
  color: #015182;
  overflow: hidden;
}

.atl-article-list-item .speaker {
  font-size: 0.8em;
  color: #777;
}

.atl-article-list-item:hover {
  cursor: pointer;
  background-color: #DDD
}