ul.atl-nav-tabs {
  list-style-type: none;
  display: flex;
  overflow: scroll;
}

ul.atl-nav-tabs li {
  flex: 1;
  text-align: center;
  padding: 1rem;
  border: 1px solid #CCC;
  border-left: none;
  background-color: #EEE;
}

ul.atl-nav-tabs li:first-of-type {
  border-left:2px solid #CCC;
  border-top-left-radius: 8px;
}

ul.atl-nav-tabs li:last-of-type {
  border-top-right-radius: 8px;
}

ul.atl-nav-tabs li.active {
  background-color: #FFF;
  border-bottom: none;
}