/* Globals and Global Classes*/

html,
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col-4 {
  flex: 4;
}

.col-8 {
  flex: 8;
}

.heading {
  color: #015182;
  font-weight: 600;
}