/* 
  Link: http://type-scale.com/?size=16&scale=1.414&text=A Visual Type Scale&webfont=Libre+Baskerville&font-family='Libre Baskerville', serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
*/
html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3rem;}

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}